/* UTILITIES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    overflow: hidden;
    background-color: #000;
}

ul{
    display: flex;
}


li{
    list-style-type: none;
    margin: 0 5px
}

a{
    text-decoration: none;

    display: flex;
    flex-direction: column;
    align-items: center;
}

span{
    font-size: 14px;
}

/* HEADER */
.top-header{
    background-color: black;
    margin-bottom: 20px;
    padding: 10px 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon{
    background-color: darkgray;
    border-radius: 5px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-right: 5px;
}

span > i{
    margin-right: 5px;
}

/* MAIN */
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    height: 80vh;
    margin-bottom: 10px;  
    /* flex-shrink: 2; */
}

.photos{
    background-image: url(https://picsum.photos/id/237/200/300);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    margin: 0 5px 10px 0;

    display: flex;
    flex-basis: calc(100% / 7);
    align-items: flex-end;
}

.photos span{
    color: white;
    width: 40%;
    font-size: 12px;
    background-color: #dedede;
    font-weight: bold;
    padding: 5px;

    display:flex;
    align-items: center;
}

/* FOOTER */
.nav-footer{
    background-color: darkgray;
    margin-bottom: 10px;
    color: white;

    display: flex;
    align-items: center;
    font-size: 1.5em;
    /* flex-grow: 1; */
}

.nav-footer i:hover{
    color: lightgreen;
}

.nav-footer span,i{
    padding: 5px;
    color: white;
    transition: color 1s;
}

.fa-chevron-up:before {
    font-size: 0.5em;
}

/* option */
.option{
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
}

/* menu */
.main-nav{
    display: flex;
    justify-content: center;
    width: 50%;
}

/* exit */
.btn-exit{
    display: flex;
    justify-content: flex-end;   
    flex-grow: 1;  
    height: 100%;
}

.btn-exit a{
    background-color: #363030;
    color: red;
    font-size: 12px;
    padding: 40px 20px;
}




















  
